<router-outlet></router-outlet>
<!-- <h1 style="background-color: rgb(219, 191, 139)">nav bar</h1>
<div class="container-fluid">
  <div class="row">
    <div
      class="col-4 rectangle"
      mwlResizable
      [enableGhostResize]="true"
      [ngStyle]="resizeStyle"
      (resizeEnd)="onResizeEnd($event)"
    >
      <div
        class="resize-handle-right"
        mwlResizeHandle
        [resizeEdges]="{ right: true }"
      ></div>
      <div class="bucket-scrolbar buckets">
        <div
          class="p-1 bucket-item"
          *ngFor="let bucket of buckets"
          [class.selected]="bucket === selectedBucket"
          (click)="onBucketClick(bucket)"
        >
          <div>
            <mat-icon svgIcon="bucket-icon" class="svg-home"></mat-icon>
            {{ bucket }}
          </div>
        </div>
      </div>
      <div class="p-2 btn-div-border">
        <button
          type="button"
          (click)="addBuckets()"
          class="btn btn-primary mx-1"
        >
          <span><i class="bi bi-plus-circle"></i></span> Add Bucket
        </button>
        <button
          type="button"
          (click)="deleteBucket()"
          class="btn btn-danger mx-1"
        >
          <span><i class="bi bi-x-circle"></i></span> Delete
        </button>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12 btn-div-border d-flex justify-content-between align-middle ">
          <div> <strong>Path:</strong> {{lastPath}}</div>
          <span class="back_icon" ><i (click)="back()" class="bi bi-arrow-left-circle"></i></span>
        </div>
        <div class="col-12 file-folders folders-item-scrollbar">
          <div *ngIf="viewTable">
            <ag-grid-angular
              style="width: 100%; height: 50vh"
              class="ag-theme-alpine"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [rowData]="rowData "
              [rowDragManaged]="true"
              [rowSelection]="'multiple'"
              [allowContextMenuWithControlKey]="true"
              [getContextMenuItems]="getContextMenuItems"
              [animateRows]="true"
              (cellClicked)="onCellClicked($event)"
            ></ag-grid-angular>
          </div>
          <div *ngIf="viewNewScreen" style="width: 100%; height: 50vh;border: 2px solid black;">2</div>
        </div>
        
        <div class="col-12 p-2 btn-div-border"> 
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
              <span><i class="bi bi-file-arrow-up"></i> </span> Upload
            </button>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href="#"><input multiple (change)="onFileSelected($event)" type="file" ></a>
            </ul>
          </div>
          <button type="button" class="btn btn-primary mx-1">
            <span><i class="bi bi-download"></i></span> Download
          </button>
          <button type="button" (click)="empty()" class="btn btn-danger mx-1">
            <span><i class="bi bi-trash3"></i></span> Empty
          </button>
          <button type="button" class="btn btn-primary mx-1">
            <span><i class="bi bi-arrow-clockwise"></i></span> Refresh
          </button>
          <button type="button" (click)="creatFolder()" class="btn btn-primary mx-1">
            <span><i class="bi bi-folder-plus"></i></span> New Folder
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <mat-tab-group>
  <mat-tab label="Headers"> Content 1 </mat-tab>
  <mat-tab label="Tags"> Content 2 </mat-tab>
  <mat-tab label="Properties"> Content 3 </mat-tab>
</mat-tab-group> -->
